.row
  .col
    .invisible= current_voter.uuid
    %h2.gray.title#entry-name= entry.name
    - if entry.category != Category.house
      %h3.gray.title#entry-name= entry.category_name
    = image_tag entry.picture.url, class: 'img-fluid mb-3'
.row
  .col-6
    = form_with url: down_vote_path, local: true do |form|
      = button_tag type: 'submit', class: 'btn btn-orange btn-block' do
        = fa_icon 'thumbs-down 2x'
  .col-6
    = form_with url: up_vote_path, local: true do |form|
      = button_tag type: 'submit', class: 'btn btn-orange btn-block' do
        = fa_icon 'thumbs-up 2x'
